alias ga="git add"
alias gb="git branch"
alias gc="git commit"
alias gch="git checkout"
alias gf="git fetch"
alias gl="git log"
alias gls="git log --stat"
alias gp="git push"
alias gr="git rebase"
alias grom="git rebase origin/master"
alias gs="git status"
alias gsh="git show"
alias ls="ls -G"
alias pvim="vim -u NONE"
