alias ls="ls -G"
alias gl="git log"
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gp="git push"
alias gch="git checkout"
alias gf="git fetch"
alias gr="git rebase"
alias gb="git branch"
