[user]
  name = Robin Joseph
  email = robinmjoseph08@gmail.com
[credential]
  helper = osxkeychain
[push]
  default = simple
[alias]
  fixup = commit --amend -C HEAD
  undo = !git reset HEAD~1 --soft && git reset HEAD .
  wip = !git add . && git commit -am "wip"
