[user]
  name = Robin Joseph
  email = robinmjoseph08@gmail.com
[credential]
  helper = "!f() { helper=\"$(git --exec-path)/git-credential-osxkeychain\"; if [ -x \"$helper\" ]; then \"$helper\" \"$@\"; fi; }; f"
[push]
  default = simple
[alias]
  fixup = commit --amend -C HEAD
  undo = !git reset HEAD~1 --soft && git reset HEAD .
  wip = !git add . && git commit -am "wip"
[init]
  defaultBranch = master
