[user]
  name = Stewart Lynch
  email = stewart.j.lynch@gmail.com
[credential]
  helper = osxkeychain
[push]
  default = simple
[alias]
  fixup = commit --amend -c head
  uncommit = reset --soft HEAD^
  recommit = commit -c ORIG_HEAD
[color "diff"]
	meta = magenta
