#!/bin/bash
{{ if ne .chezmoi.os "darwin" -}}
exit 0
{{ end -}}
set -e

# iTerm2 dynamic profile
echo "Setting up iTerm2..."
mkdir -p ~/Library/Application\ Support/iTerm2/DynamicProfiles
ln -f {{ .chezmoi.sourceDir }}/iterm.json ~/Library/Application\ Support/iTerm2/DynamicProfiles/iterm.json
echo "=== Make sure you set this profile as the default one in iTerm2 ==="

# Powerline Fonts
if [ -z "$(find ~/Library/Fonts -name '*Powerline*' 2>/dev/null)" ]; then
    echo "Installing Powerline Fonts..."
    TMPDIR=$(mktemp -d)
    git clone https://github.com/powerline/fonts.git --depth=1 "$TMPDIR"
    "$TMPDIR/install.sh"
    rm -rf "$TMPDIR"
fi

# Disable key press-and-hold
echo "Enabling key repeats on Mac..."
defaults write NSGlobalDomain ApplePressAndHoldEnabled -bool false

echo "macOS setup complete."
